<% provide(:title, "#{Date.today.strftime('%Y年%m月')}の案件一覧") %>

<div class="container loggedin-container">
  <h1><%= yield(:title) %></h1>
  
  <%# タスクの登録方法を見直すため、一旦非表示に %>
  <div id="projects-top">
    <%= form_with(model: @project, local: true, scope: :project, html: { id: 'project-form'}) do |f| %>
      <h2>タスク登録</h2>

      <div class="project-form-group">
        <%= f.label :client, "クライアント" do %>
          クライアント<span>※</span>
        <% end %>
        <%= f.select :client, options_for_select([['--リストから選んでください--', ''], ['Ａ社', 'A社']]), {}, { class: 'form-control' } %>
      </div>

      <div class="project-form-group">
        <%= f.label :title, "案件名" do %>
          案件名（キーワードなど）<span>※</span>
        <% end %>
        <%= f.text_field :title, placeholder: "案件名", required: true, class: 'form-control'%>
      </div>

      <div class="project-form-group">
        <%= f.label :status, "ステータス" %>
        <%= f.select :status, Project.statuses.keys.map { |s| [Project.new(status: s).status_text, s] }, {}, { id: 'status-list', class: 'form-control' } %>
      </div>

      <div class="project-form-group other-task">
        <%= f.label :other_task, "その他タスクの詳細" %>
        <%= f.text_field :other_task, placeholder: "その他タスクの名称", class: 'form-control'%>
      </div>

      <div class="project-form-group date-group date task_deadline">
        <%= f.label :task_deadline, "タスクの期日" %>
        <%= f.date_field :task_deadline, class: 'form-control' %>
      </div>

      <div class="project-form-group date-group final-deadline">
        <%= f.label :final_deadline, "最終納期" %>
        <%= f.date_field :final_deadline, class: 'form-control', id: 'final_deadline_input' %>
        <div class="checkbox-wrapper">
            <%= f.check_box :final_deadline_not_applicable, class: 'final-deadline-checkbox', id: 'final_deadline_checkbox' %>
            <%= f.label :final_deadline_not_applicable, "タスクの期日と同じ", class: 'checkbox-label' %>
        </div>
      </div>

      <div class="project-form-group">
        <%= f.label :compensation, "報酬（税抜）" %>
        <%= f.text_field :compensation, inputmode: "numeric", placeholder: "報酬", class: 'form-control' %>
      </div>

      <div class="project-form-group">
        <%= f.label :url, "URL" %>
        <%= f.url_field :url, placeholder: "Googleドキュメントのリンクなど", class: 'form-control' %>
      </div>

      <div class="project-form-group">
        <%= f.label :note, "備考" %>
        <%= f.text_field :note, placeholder: "備考", class: 'form-control' %>
      </div>

      <small><span>※</span>は必須項目です</small><br>
      <small>※期日が決まっていない箇所は空欄で大丈夫です</small>

      <div class="project-form-group project-submit-group">
        <%= f.submit "登録", class: "btn btn-fill", id: "project-submit" %>
      </div>
    <% end %>
    <div>
      <table>
        <tr>
          <th>目標の売上</th>
          <th>今月の売上</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

<table id="projects-table">
  <thead>
    <tr>
      <th id="edit-column">編集</th>
      <th id="client-column">クライアント</th>
      <th id="title-column">案件名</th>
      <th id="status-text-column">ステータス</th>
      <th id="task-deadline-column">期日</th>
      <th id="final-deadline-column">最終納期</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |p| %>
      <tr>
        <td><%= link_to "編集" %></td>
        <td><%= p.client %></td>
        <td><%= p.title %></td>
        <td><%= p.status_text %></td>
        <td><%= p.task_deadline %></td>
        <td><%= p.final_deadline %></td>
      </tr>
    <% end %>
  </tbody>
</table>
