<% provide(:title, "#{Date.today.strftime('%Y年%m月')}の案件一覧") %>

<div class="projects-container">
  <div class="project-container first-group">
    <h1><%= yield(:title) %></h1>
    <div class="first-child-group">
      <div class="new-task">新規タスク</div>
      <div class="calendar-box">カレンダー表示</div>
    </div>
  </div>
  <div class="project-container second-group">
    <div class="project-box">
      <div>進行中のタスク</div>
      <div>5</div>
    </div>
    <div class="project-box">
      <div>今週の締切</div>
      <div>3</div>
    </div>
    <div class="project-box">
      <div>完了タスク（今月）</div>
      <div>8</div>
    </div>
    <div class="project-box">
      <div>今月の報酬</div>
      <div>200,000円</div>
    </div>
  </div>
  <div class="project-container project-box">
    <div>
      <h2>ECサイトのブログ記事<h2>
      <div>構成作成中</div>
    </div>
    <div>
    <div>A社</div>
    <div>
      <%= image_tag("task_alt", alt: "task_alt", width: 40, height: 40) %>
      <div>構成提出</div>
      <%= image_tag("schedule", alt: "schedule", width: 40, height: 40) %>
      <div>2024-12-20</div>
    </div>
    <div>
      <%= image_tag("task_alt", alt: "task_alt", width: 40, height: 40) %>
      <div>構成提出</div>
      <%= image_tag("schedule", alt: "schedule", width: 40, height: 40) %>
      <div>2024-12-20</div>
    </div>
    <div>
      <%= image_tag("task_alt", alt: "task_alt", width: 40, height: 40) %>
      <div>初稿提出</div>
      <%= image_tag("schedule", alt: "schedule", width: 40, height: 40) %>
      <div>2024-12-25</div>
    </div>
    <div>
      <%= image_tag("task_alt", alt: "task_alt", width: 40, height: 40) %>
      <div>CMS入稿</div>
      <%= image_tag("schedule", alt: "schedule", width: 40, height: 40) %>
      <div>2024-12-31</div>
    </div>
  </div>
</div>

