<header>
  <div id="container logo-container">
    <% if logged_in? %>
      <h1><%= link_to image_tag("WriterTaskLogo", alt: "WriterTaskロゴ", width: 70, height: 70), projects_path %></h1>
    <% else %>
      <h1><%= link_to image_tag("WriterTaskLogo", alt: "WriterTaskロゴ", width: 70, height: 70), root_path %></h1>
    <% end %>
  </div>
  <nav>
    <ul id="nav-list">
      <% if logged_in? %>
        <li class=<%= "#{current_page?(projects_path) ? 'active' : '' }" %>><%= link_to "進捗管理", projects_path %></li>
        <li class=<%= "#{current_page?("#") ? 'active' : '' }" %>><%= link_to "月間報酬", "#" %></li>
        <li class=<%= "#{current_page?("#") ? 'active' : '' }" %>><%= link_to "案件一覧", "#" %></li>
      <% else %>
        <li class=<%= "#{current_page?(function_path) ? 'active' : '' }" %>><%= link_to "機能", function_path %></li>
        <li class=<%= "#{current_page?(pricing_path) ? 'active' : '' }" %>><%= link_to "料金", pricing_path %></li>
      <% end %>
    </ul>
  </nav>
  <p id="nav-name"><%= "#{current_user.name}さん" if logged_in?%></p>
  <% if logged_in? %>
    <div id="open-menu">
      <%= image_tag("menu", alt: "menu", width: 40, height: 40) %>
    </div>
    <nav id="overlay">
      <%= link_to "設定", "#" %>
      <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %>
    </nav>
  <% else %>
    <div id="nav-button">
      <%= link_to "新規登録", signup_path, class: "btn btn-outline" %>
      <%= link_to "ログイン", login_path , class: "btn btn-fill" %>
    </div>
  <% end %>
</header>