<header>
    <div class="header-container">
      <div id="container logo-container">
        <% if logged_in? %>
          <h1><%= link_to image_tag("WriterTaskLogo", alt: "WriterTaskロゴ", width: 50, height: 50), projects_path %></h1>
        <% else %>
          <h1><%= link_to image_tag("WriterTaskLogo", alt: "WriterTaskロゴ", width: 50, height: 50), root_path %></h1>
        <% end %>
      </div>
      <div class="header-right-container">           
        <div class="header-icon" id="open-menu">
          <%= image_tag("menu", alt: "menu", width: 30, height: 30)  %>
        </div>
        <div class="header-sidebar">
          <div class="close-icon">           
            <div id="close-menu">
              <%= image_tag("close", alt: "menu", width: 30, height: 30) %>
            </div>
          </div>
          <div class="header-sidebar-menu">
            <ul>
              <li><%= link_to "ログイン", login_path %></li>
              <li><%= link_to "アカウント作成", signup_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>